---
Checks: "*,\
-cert-err58-cpp,\
-clang-diagnostic-unknown-warning-option,\
-clang-diagnostic-unknown-warning-option,\
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,\
-cppcoreguidelines-pro-bounds-constant-array-index,\
-cppcoreguidelines-pro-bounds-pointer-arithmetic,\
-cppcoreguidelines-pro-type-vararg,\
-fuchsia-default-arguments,\
-fuchsia-overloaded-operator,\
-google-default-arguments,\
-google-explicit-constructor,\
-google-readability-braces-around-statements,\
-google-readability-namespace-comments,\
-google-readability-todo,\
-google-runtime-int,\
-google-runtime-references,\
-hicpp-braces-around-statements,\
-hicpp-no-array-decay,\
-hicpp-no-assembler,\
-hicpp-signed-bitwise,\
-hicpp-vararg,\
-llvm-namespace-comment,\
-readability-braces-around-statements,\
-readability-else-after-return,\
-readability-implicit-bool-conversion,\
-readability-named-parameter,\
"
HeaderFilterRegex: '^.*include/egt/.*h$$'
AnalyzeTemporaryDtors: false
...
#
# Notes About Disabled Warnings
# -----------------------------
#
# hicpp-signed-bitwise
# https://stackoverflow.com/questions/50399090/use-of-a-signed-integer-operand-with-a-binary-bitwise-operator-when-using-un/58845898#58845898
#
# google-explicit-constructor and hicpp-explicit-conversions seem redundant
#
# hicpp-special-member-functions
# Disabled because of many warnings. This needs to be addressed.
#