[submodule "external/layout"]
	path = external/layout
	url = https://github.com/linux4sam/layout.git
	ignore = untracked
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
	ignore = untracked
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
	ignore = untracked
[submodule "external/Simd"]
	path = external/Simd
	url = https://github.com/ermig1979/Simd.git
	ignore = untracked
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
