[submodule "external/kplot"]
	path = external/kplot
	url = https://github.com/kristapsdz/kplot.git
	ignore = untracked
[submodule "external/layout"]
	path = external/layout
	url = https://github.com/linux4sam/layout.git
	ignore = untracked
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
	ignore = untracked
