# Compiled Object files
**/.DS_Store
*.slo
*.lo
*.o
*.obj
*.mo

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/*.cbp
**/CMakeScripts
**/compile_commands.json

# Autotools
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/stamp-h?
.deps/
.dirstamp
git.version

# Makefile
**/Makefile

*~
/compile
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
.libs
/libegt.pc
TAGS
*.gcno
*.gcda
.aspell.en.pws
.autotools
.cproject
.odt
.project
.settings
.vscode
*.gch
test-driver
build
