Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/stamp-h?
.deps/
.dirstamp
*.o
*.lo
*.la
*~
/compile
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
.libs
/libegt.pc
TAGS
*.gcno
*.gcda
.aspell.en.pws
.autotools
.cproject
.odt
.project
.settings
.vscode
*.gch
*.exe
test-driver
build
