<?xml version="1.0" encoding="utf-8"?>
<menu>
  <item name="Contacts">
    <description></description>
    <image>contacts.png</image>
    <exec>./icon</exec>
  </item>
  <item name="Phone">
    <description></description>
    <image>phone.png</image>
    <exec></exec>
  </item>
  <item name="Inbox">
    <description></description>
    <image>inbox.png</image>
    <exec></exec>
  </item>
  <item name="News">
    <description></description>
    <image>news.png</image>
    <exec></exec>
  </item>
  <item name="Food">
    <description></description>
    <image>food.png</image>
    <exec></exec>
  </item>
  <item name="Camera">
    <description></description>
    <image>camera.png</image>
    <exec></exec>
  </item>
  <item name="Traffic">
    <description></description>
    <image>traffic.png</image>
    <exec></exec>
  </item>
  <item name="Flights">
    <description></description>
    <image>flights.png</image>
    <exec></exec>
  </item>
  <item name="Navigation">
    <description></description>
    <image>navigation.png</image>
    <exec></exec>
  </item>
</menu>
